@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme {
  @keyframes drop {
    0% {
      transform: scale(1.15);
    }

    50% {
      transform: scale(0.92);
    }

    75% {
      transform: scale(1.04);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-drop: drop 0.5s ease-in-out;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

.control-text {
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 10px #0051ff7d !important;

}

.desktop-area::-webkit-scrollbar {
  display: none;
}

.desktop-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5b5768;
  transition: 1s !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
    opacity: 0;
  }
}

@keyframes expandIn {
  from {
    width: 0;
    opacity: 0;
    padding-left: 0;
    padding-right: 0;
  }

  to {
    width: auto;
    opacity: 1;
  }
}

.animate-expand {
  overflow: hidden;
  white-space: nowrap;
  animation: expandIn 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale {
  animation: scaleIn 0.5s 0.7s forwards;
}

.aurora-container {
  position: relative;
  width: 100vw;
  /* Força a largura da tela */
  height: 100vh;
  /* Força a altura da tela */
  overflow: hidden;
  opacity: 0.8;
  z-index: -1;
  /* Garante que fique atrás de tudo dentro do pai */
}

/* Base das esferas de cor */
.aurora-sphere {
  position: absolute;
  filter: blur(80px);
  /* Aumentei o blur para um efeito mais suave */
  -webkit-filter: blur(80px);
  mix-blend-mode: screen;
  /* Faz as cores se somarem de forma suave */
  opacity: 0.5;
  border-radius: 100%;
}

.aurora-1 {
  width: 80vw;
  height: 80vw;
  background-color: #3a57ff;
  left: -10%;
  top: -20%;
  animation: aurora-fly 20s linear infinite;
}

.aurora-2 {
  width: 70vw;
  height: 90vh;
  background-color: #33daff;
  bottom: -10%;
  left: -5%;
  animation: aurora-fly-plus 25s linear infinite;
}

.aurora-3 {
  width: 60vw;
  height: 60vw;
  bottom: -15%;
  right: -10%;
  background-color: #1f2dca;
  animation: aurora-fly 18s linear infinite;
}

.aurora-4 {
  width: 50vw;
  height: 50vw;
  top: 10%;
  right: 10%;
  background-color: #51a8ff;
  animation: aurora-fly-plus 15s linear infinite;
}

.aurora-1 {
  background-color: #262626;
}

/* Grafite */
.aurora-2 {
  background-color: #0c1224;
}

/* Neutral 900 */
.aurora-3 {
  background-color: #2b0178;
}

/* Roxo Ultra Dark */
.aurora-4 {
  background-color: #5b2932;
}

/* Neutral 700 */

/* Azul Royal */

/* Animações de órbita */
@keyframes aurora-fly {
  from {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

@keyframes aurora-fly-plus {
  from {
    transform: rotate(360deg) translate(150px) rotate(-360deg);
  }

  to {
    transform: rotate(0deg) translate(150px) rotate(0deg);
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Isso substitui a cor de fundo por uma sombra interna da cor que você desejar */
  -webkit-box-shadow: 0 0 0px 1000px #0c0c0c inset, 0 0 10px rgba(246, 59, 112, 0.5) !important;
  border: 1px solid #3c1125 !important;
  /* Muda a cor do texto no autofill */
  -webkit-text-fill-color: white !important;

  /* Mantém a transição de cor suave */
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes click-ping {
  0% {
    background-color: rgba(255, 255, 255, 0.552);
    filter: blur(1px);
  }

  100% {
    transform: scale(20);
    filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
  }
}

.clickPing {
  animation: click-ping 1s forwards;
}
