@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
  --color-main: #e73f1e;
  --color-mainSec: #FB6C00;
  --color-bg: #0F0F10;
  --color-bgSec: #131314;
  --color-fg: #F2F2E5;

  --font-oswald: "Oswald";
  --font-fraunces: "Fraunces";

  @keyframes drop {
    0% {
      transform: scale(1.15);
    }

    50% {
      transform: scale(0.92);
    }

    75% {
      transform: scale(1.04);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-drop: drop 0.5s ease-in-out;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

.control-text {
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 10px #0051ff7d !important;

}

.oswald-text {
  font-family: 'Oswald';
}


.desktop-area::-webkit-scrollbar {
  display: none;
}

.desktop-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5b5768;
  transition: 1s !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
    opacity: 0;
  }
}

@keyframes expandIn {
  from {
    width: 0;
    opacity: 0;
    padding-left: 0;
    padding-right: 0;
  }

  to {
    width: auto;
    opacity: 1;
  }
}

.animate-expand {
  overflow: hidden;
  white-space: nowrap;
  animation: expandIn 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale {
  animation: scaleIn 0.5s 0.7s forwards;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #0c0c0c inset, 0 0 1px rgba(246, 90, 59, 1) !important;
  border: 1px solid #3c1511 !important;
  -webkit-text-fill-color: white !important;

  transition: background-color 5000s ease-in-out 0s;
}

@keyframes click-ping {
  0% {
    background-color: rgba(255, 255, 255, 0.552);
    filter: blur(1px);
  }

  100% {
    transform: scale(20);
    filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
  }
}

.clickPing {
  animation: click-ping 1s forwards;
}

@keyframes zoomAnim {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.zoom-screen {
  transform-origin: center;
  animation: zoomAnim 2s forwards;
  will-change: transform, opacity;
}

@keyframes zoomAnim2 {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(100%);
  }
}

.zoom-screen-2 {
  transform-origin: center;
  animation: zoomAnim2 2s forwards;
  will-change: transform, opacity;
}